* {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: #00000018;
  }
}

body {
  font-family: "Century Gothic", sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  div {
    header {
      display: flex;
      gap: 0.5rem;
      flex-flow: column;
      align-items: center;
      padding: 0.5rem 1rem;

      .brand {
        font-size: 2.5rem;
        font-weight: bold;
      }

      nav {
        ul {
          display: flex;
          gap: 4px;

          li {
            list-style-type: none;

            button {
              &.active {
                background-color: red;
                color: white;
              }
            }
          }
        }
      }
    }

    #content {
      padding: 2rem;

      main {
        h1 {
          text-align: center;
          margin: 1rem;
        }

        p {
          line-height: 1.5;
          text-align: justify;
        }
      }
    }
  }

  footer {
    text-align: center;
    padding: 0.5rem 1rem;

    a {
      font-weight: bold;
      color: red;
    }
  }
}
